@tailwind base;
@tailwind components;
@tailwind utilities;

.zoomed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.zoomed img{
    max-width: 90vw;
    max-height: 90vh;
    cursor: pointer;
}


